{% extends "::base.html.twig" %}

{% block title %}WizinSimpleCmsBundle:Admin{% endblock %}

{% block body %}
    <a href="{{ path('wizin_simple_cms_admin_add') }}">Back</a>
    <hr/>
    <h1>Create new content</h1>
    {{ include("WizinSimpleCmsBundle:Admin:content_form.html.twig") }}
{% endblock %}
