{% extends "WizinSimpleCmsBundle:Admin:base.html.twig" %}

{% block title %}WizinSimpleCmsBundle:Admin{% endblock %}

{% block body %}
    <a href="{{ path('wizin_simple_cms_admin_index') }}">Back</a>
    <hr/>
    <h1>Edit content</h1>
    {{ include("WizinSimpleCmsBundle:Admin:contentForm.html.twig") }}
{% endblock %}
